<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between mb-0" role="alert">
    <ul class="mb-0">
      <% resource.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
    </ul>
    <button type="button" class="close ml-3" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
<% end %>
